{% extends 'templates/app.twig' %}

{% block content %}
    <section>
       <div class="container">
           <div class="col-md-6 text-center" style="padding-top:100px;">
                {{auth.user.gravatar(auth.user.email, 256) | raw }}
           </div>
       </div>
    </section>
{% endblock %}