body {
    background-color: white;
    /* margin-top: 3.5rem; */
}

.slide {
    margin: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

.hero-slide {
    height: 100vh;
    margin-top: 25vh;
}