<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
    <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>slim</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <!-- <link rel="stylesheet" href="{{ base_url() }}/css/main.css"> -->

    </head>
    <body>
        <div class="container-fluid h-100" style="height:100%;">
            <div class="row h-100">
                <!-- NAV -->

                {% include 'templates/partials/admin-nav.twig'%}
                <!-- FLASH MESSAGES -->
                {% include 'templates/partials/flash.twig' %}

                <!-- CONTENT -->
                {% block content %}{% endblock %}

                <!-- FOOTER -->

            </div>
        </div>
    </body>
</html>